<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkETMgVoOX9fsfBCYaMECGNWwc9eV-0ig</string>
	<key>GCM_SENDER_ID</key>
	<string>62107299314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dekideks.XOX</string>
	<key>PROJECT_ID</key>
	<string>xox-by-dekideks</string>
	<key>STORAGE_BUCKET</key>
	<string>xox-by-dekideks.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62107299314:ios:a967edc6b21fa52bef0f6b</string>
</dict>
</plist>